# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\COTUCA\2020\ENSINO TECNICO\SEGUNDO SEMESTRE\TOPICOS EM PROGRAMACAO ORIENTADA A OBJETOS\PROJETOS\PROJETO II\Base-Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
